version: '3.8'

services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: trees_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build:
      context: ../..
      dockerfile: devops/local/Dockerfile
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/trees_db
      ENV: development
    volumes:
      - ../../backend/app:/code/app
      - ../../backend/alembic:/code/alembic
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build:
      context: ../../frontend
      dockerfile: Dockerfile
    ports:
      - "51730:5173"
    volumes:
      - ../../frontend/src:/app/src
      - ../../frontend/public:/app/public
      - ../../frontend/index.html:/app/index.html
      - ../../frontend/vite.config.ts:/app/vite.config.ts
      - ../../frontend/tsconfig.json:/app/tsconfig.json
      - ../../frontend/tsconfig.app.json:/app/tsconfig.app.json
      - ../../frontend/tsconfig.node.json:/app/tsconfig.node.json
      # Prevent overwriting node_modules
      - /app/node_modules
    environment:
      - NODE_ENV=development

volumes:
  postgres_data:
